.container{
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.lastContainer{
  display: flex;
  justify-content:flex-end;
  padding: 1rem;
}
.left{
  flex:2;
}
.right{
  flex:1;
  border-radius:0.4rem;
}
.inputQty{
  width:2rem;
}

.price{
  display: flex;
}
.table{
  width:100%;
  border-spacing: 1rem;
}
.name{
  font-weight:700;
  color:var(--main-color);
  font-size:1rem;
}
.total{
  display: flex;
  align-items: center;
  font-weight:600;
  font-size: 1.2rem;

}




.table td{
  text-align: center;
  padding:0.4rem;
}
.imgContainer{
  width:3rem;
  height:3rem;
  position: relative;
}
.editBtn,.delBtn{
  cursor: pointer;
}
.wrapper{
  color:white;
  width:90%;
  background: #333;
  margin:0 1rem;
  padding:1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;

}
.totalText div{
  display:flex;
  align-items: center;
  justify-content:flex-end;
  flex:2;
  text-align:right;
}
.totalText{
  display: flex;
  margin:0.5rem;

}
.totalText:last-child{
  border-top:1px solid white;
  padding:0.4rem 0;

}
.title{
  text-align: center;
}
.checkbtn{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:1rem;


}
.checkbtn button{
  padding:0.5rem 1rem;
  border-radius:1rem;
  border:0;
  outline:none;
  cursor:pointer;
  color:var(--main-color);
  border:1px solid var(--main-color);
  transition:all 0.5s ease-in;
}
.checkbtn button:hover{
  background-color:var(--main-color);
  border:1px solid white;
  color:white;
}
@media screen and (max-width:480px){
  .container{
    flex-direction: column;
    padding:3rem 0.5rem ;
  }
  .table{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 1rem 0;
  }
  .trTitle{
    display: none;

  }
  .tr{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    margin: 2rem 0;
  }
  .name,.total{
    font-size:1.5rem;
  }
  .imgContainer{
    width:50vw;
    height:50vw;
  }
  .price::before{
    content:"Price : ";
    font-weight:bold;
  }
  .qty::before{
    content:"Qty : ";
    font-weight:bold;
  }
  .total::before{
    content:"Total : ";
  }

}
