.container{
  height:82vh;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
  margin-top:5rem;


}
.item{

  flex:1;
  padding:0;
  margin:0;
  position: relative;
  height:100%;

}
.card{
  flex:1;
  padding:0 2rem;
}
.card:last-child{
  display: flex;
  justify-content: space-evenly;

}
.item:last-child{
  flex:2;
  padding:1rem 0;
  justify-content: space-between;
  display:flex;
  flex-flow: column wrap;

}
.text{
  font-size: 0.8rem;
  color:lightgray;
  margin:0.8rem 0;


}
.title{
  font-size:0.8rem;
  margin-bottom: 1rem;
}
.motto{
  font-size:1rem;
  color:var(--main-color);
  padding-bottom:0.3rem;

  margin-bottom:0.9rem;
  text-align:center;
  border-bottom:1px solid white;
}
.item img{
  width:100%;
  height:100%;
  object-fit: cover;
}

@media screen and (max-width:480px){
  .container{
    display: none;
  }


}
