.container{
  padding:2rem 3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-height: auto;
}
.desc{
  font-size: 24px;
  color:#444;
  width:70%;

}
.wrapper{
  display:grid;
  grid-template-columns:32% 32% 32% ;
  grid-auto-rows: minmax(12rem, auto);
  justify-content: space-between;
  grid-gap:1rem;
  width:100%;
  height:auto;
}
.title{
  font-family: 'Raleway', sans-serif;
}


@media screen and (max-width:480px){
  .container{
    padding:0.8rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-height: auto;
  }
  .title{
    text-align:center;
    font-size:1rem;
    margin: 0.5rem 0;
  }
  .desc{
    width:90%;
    text-align: center;
    margin:1rem 0;
  }
  .wrapper{
    grid-template-columns:100%;
    width:100%;
    height:auto;
  }

}
