.container{
  height:88vh;
  display: flex;

}
.left,.right{
  flex:1;

  height:auto;
}
.left{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.imgContainer{
  width:75%;
  height:75%;
  position: relative;
}
.right{
  padding:1rem;
  position: relative;
}
.price{
  color:var(--main-color);
  display: flex;
  align-items:center;

  font-size:24px;
  font-weight:400;

}
.sizes{
  display: flex;
  margin:0.4rem 0 1.3rem;
  justify-content:space-around;
  align-items: center;
  flex-direction:row;
  position: relative;
  width:100%;
  height:auto;

}
.item{
  display: flex;
  flex-direction:column;
  height:40%;

}
.sizeContainer{
  flex:1;
}
.choose{
  font-size:0.9rem;
  margin:0.5rem 0;
}
.options label,.options input{
  cursor: pointer;
}
.options input{
  margin:0.4rem;
}

.size{
  width:1.5rem;
  height:1.5rem;
  position: relative;
  cursor: pointer;
}

.number{
  font-size: 0.8rem;
}

.tick{display: none;}
.tickShow{
  display: block;
  color:var(--main-color);
}

/* half category */
.half .tickShow{
  position: absolute;
  top:6%;
  left:3%;
  z-index:55;
}
.half{
  width:2rem;
  height:2rem;
  position: relative;
}
.half .number{
  position: absolute;
  bottom:-40%;
  left:10%;
}
/* small category */
.small .number{
  position: absolute;
  bottom:-80%;
  left:-10%;
}
.small .tickShow{
  position: absolute;
  top:-40%;
  left:-15%;
}
/* medium category */
.medium{
  width:2.5rem;
  height:2.5rem;
  position: relative;
}
.medium .number{
  position: absolute;
  bottom:-50%;
  left:11%;
}
.medium .tickShow{
  position: absolute;
  top:-2%;
  left:10%;

}

/* large category */
.large{
  width:4rem;
  height:4rem;
  position: relative;
}
.large .number{
  position: absolute;
  bottom:-30%;
  left:25%;
}
.large .tickShow{
  position: absolute;
  top:-2%;
  left:10%;

}
.indigredients{
  display: flex;
  flex-direction: column;
  height:8rem;
}
.indigredients .container{
  display:flex;

  height:2rem;
}
.options{
  display:flex;
  margin-right:1rem;
  height:1rem;
  font-size:0.7rem;
  align-items: center;
  font-weight:500;
}
.checkbox{
  width:1rem;
  height:1rem;
}
.qty{
  width:50px;
  height:30px;
  outline:none;
}
.addToCart{
  height:1.5rem;
  margin-left:1rem;
  background: var(--main-color);
  color:white;
  border:0;
  outline:none;
  padding:1rem 2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border:1px solid transparent;
  font-weight:700;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
}
.addToCart:hover{
  color: var(--main-color);
  background-color:white;
  border:1px solid var(--main-color);
}
.add{
  margin:1rem 0;
  display: flex;
  justify-content: space-between;

}
@media screen and (max-width:480px){
  .container{
    flex-direction: column;
    height:auto;
    text-align:center;

  }
  .sizes{
    flex-flow: column wrap;
  }
  .size{
    margin:1rem;
  }
  .container:first-child{
    border:1px solid blue;
    background: blue;
  }
  .right{
    height:auto;
  }

  .imgContainer{
    width: 70vw;
    height:70vw;
    margin:3vh;
  }
  .title{
    margin:1rem;
  }
  .sizes{
    width:100%;
  }
  .desc{
    font-size:0.8rem;
    margin:1rem 0;
  }
  .title{
    font-size:1.2rem;
  }
  .indigredients{
    display: flex;
    flex-direction: column;
    height:auto;
  }
  .add{
    display: flex;
    flex-direction: column;
    margin:7rem 0;
  }
  .addToCart{
    margin:2rem 0;
  }
  .options{
    margin:0.5rem 0;
    font-size:0.7rem;
  }
}
